.form {
  border: 5px solid white;
  border-radius: 10px;
  background-color: rgb(5, 5, 47);
  color: white;
  padding: 30px;
  font-family: sans-serif;

  width: 450px;
  margin: auto;
  /* position: relative;
  top: 50px; */

  /* display: flex; */
}

.heading1 {
  font-size: 50px;
  margin: 0;
}
.desc {
  font-size: 20px;
  margin-top: 1px;
  color: rgb(187, 185, 185);
}
.inputs {
  margin: 5px 0;
}
.gender {
  border-top: 2px;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(187, 185, 185);
}
.option {
  text-decoration: none;
  color: rgb(187, 185, 185);
  border: 1px solid rgb(124, 124, 124);
  padding: 5px 10px;
}
.checkbox-label {
  color: rgb(187, 185, 185);
}
.btn {
  background-color: rgb(75, 75, 75);
  padding: 5px 10px;
  margin-top: 10px;
  color: rgb(187, 185, 185);
}
